.btn1
{    
    background-image: linear-gradient(to left, rgb(44, 62, 80), rgb(253, 116, 108));
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: none;
   }

.btn1:hover 
{
    background-position: right center; /* change the direction of the change here */
}


#home
{
   
    
     position: relative;
    overflow: hidden;
    background-image: url(../images/girl2.jpeg);
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
}





/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 555; 
 left: 0;
  top: 0;
  width: 100%; 
 overflow: hidden; 
background:rgba(160, 92, 95, 0.8);
    
}

/* Modal Content (form) */
.modal-content {
   
  
  display: block;
    border: none;
     
    
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */


/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
    z-index: 22222222;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




.open
{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}





/***********************************************************************************************/
.feat .col-12
{
    border-top: 1px solid #ccc;
}

.feat .col-12 p
{
    font-size: 16px;
    color: #fff;
}

.feat .col-12 h5
{
    font-size: 15px;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:500px;
	min-height:600px;
	position:relative;
	background:url(../images/girl.jpeg); no-repeat center;
    background-size: 100% 100%;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(160, 92, 95, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:rgb(104, 50, 53);
}
.login-form{
	max-height:350px;
	position:relative;
   
	
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#fff;
	font-size:12px;
}
.login-form .group .button{
	background:rgb(104, 50, 53);
    cursor: pointer;
}

a:hover
{
    color:rgb(104, 50, 53);
}
.login-form .group label .icon{
width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:rgb(104, 50, 53);
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
/********************************************************************************************/

.who
{
   /*background-color: rgba(104, 50, 53, 0.8);*/
    background-size: cover;
    background-repeat: no-repeat;
  
    
}

.whoooo
{
 box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); 
    overflow: hidden;
}

.text {
  color: black;
  font-size: 15px;
  position: absolute;
 
}

.we h3
{
    font-size: 75px;
  
}
.klam p
{
    font-size: 14px;
    color:#79807a;
}

/*******************************************************************************************************/
.container-fluid
{
  position: relative;
    }
.fa-globe
{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.myoverlay {
   position: absolute;
  top: 90;
  bottom: 0;
  left: 130;
  right: 0;
  height: 90%;
  width: 300px;
  opacity: 1;
  transition: .5s ease;
 background:rgba(122,99,83,.9);
    z-index: 55;
    
}
.oversecond
{
    position: absolute;
  top: 0;
  bottom: 0;
  right: 250;
 
  height: 50%;
  width:166px;
  opacity: 1;
  transition: .5s ease;
 background:rgba(255,102,102,.5);
 background:rgba(255,153,153,.5);
    z-index: 15;
}

@media screen and (max-width: 880px) {
  .oversecond {
   width: 20%;
  }
}

@media screen and (max-width: 880px) {
  .myoverlay {
   width: 20%;
  }
}
@media screen and (max-width: 657px) {
  .myoverlay {
   width: 0%;
  }
}
@media screen and (max-width: 657px) {
  .oversecond {
   width: 0%;
  }
}




.name
{
     z-index: 100;
}
.name h1
{
    padding-top: 70px;
    color: white;
    margin: auto;
    font-size: 84px;
    font-weight: bold;
   
    border-bottom: 1px solid rgba(255,255,255,0.4);
   
    
}
 

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

*
{
    box-sizing: border-box;
}


.clr
{
    clear: both;
}

#powerful-features
{
    margin: 50px 0 60px;
    
}

#powerful-features h2
{
    font-weight: bold;
    font-size: 40px;
}


.image
{
    border: 7px solid #e9ecef;
}
.powerful-container
{
    position: relative;
}

.powerful-img
{
    vertical-align: middle;
}

.each-feature
{
    padding:60px;
}



.powerfull-text h4
{
    font-weight: bold;
}

.powerfull-text
{
    padding-top: 30px;
}

.powerfull-text p
{
    color: #666;
}

@media only screen and (max-width: 1033px) and (min-width:604px){
    .powerfull-text{
        text-align: left !important;
    }

    .powerful-img .col-sm-12
    {
        justify-content:center !important;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#HowToWork
{
    margin: 200px 0;
}

#HowToWork h2
{
    color: #2b2b2b;
    font-size:27px;
    line-height: 32px;
    font-weight: 500;
    padding-bottom: 50px;
}

.stepContainer
{
    padding: 20px 0 50px;
    
}

#HowToWork .arrows
{
    padding-bottom: 15px;
}

.step-text
{
    padding: 10px;
}
.step-photo
{
    padding: 10px;
}

.step-text h3
{
    font-size: 24px;
    line-height: 32px;
    color: #2b2b2b;
    font-weight:300;
}


.step-text .first-p
{
    color: #2b2b2b;
    font-size: 17px;
    line-height: 20px;
}

.step-text .second-p
{
    color: #8b8b8b;
    font-size: 14px;
    line-height: 22px;
    
}


.nb-footer{
    background: #272727;
    margin-top: 60px;
    padding-bottom: 30px;
  }
  .nb-footer .footer-single{
    margin-top: 30px;
  }
  .nb-footer .footer-title{
      display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
  }
  .nb-footer .footer-single a{
      text-decoration: none;
  }
  .list-unstyled a:hover{
      color:rgb(160, 92, 95)!important;
  }
  .list-unstyled a:hover i{
      text-decoration: none;
    color:rgb(160, 92, 95)!important;
  }
  .nb-footer .footer-single h2{
      color: #eee;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid rgb(160, 92, 95);
    padding-bottom: 5px;
    margin-bottom: -2px;
  }
  .nb-footer .footer-single li{
    border-top: solid 1px #353535;
  }
  .nb-footer .footer-single li:first-child{
    border-top: none;
  }
  .nb-footer .footer-single li a{
    color: #979797;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    -webkit-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
  }
  .nb-footer .footer-single li a:hover{
    color: #17a2b8;
  }
  .nb-footer .footer-single li a:hover i{
    color: #17a2b8;
  }
  .nb-footer .dummy-logo {
      margin-top: 11px;
      padding-bottom: 9px;
  }
  .footer-single .btn{
      color:white;
      border: 1px solid rgb(160, 92, 95);    
  }
  .nb-footer .dummy-logo .icon {
      margin-right: 10px;
      border-radius: 20px;
      margin-top: 24px;
  }
  .nb-footer .brand {
      background: rgb(160, 92, 95);
  }
  .nb-footer .dummy-logo i {
      font-size: 50px;
      color: #fff;
      padding: 5px;
  }
  .nb-footer .dummy-logo p {
      color: #999;
      font-size: 12px;
  }
  .nb-footer .dummy-logo h2 {
      font-size: 24px !important;
      border-bottom: none;
      color: #696969;
      padding: 5px 0;
  }
  .nb-footer .btn-footer{
    border: 1px solid rgb(160, 92, 95);
    margin-top: 10px;
    color: #999;
  }
  .nb-footer .btn-footer:hover{
    background: rgb(160, 92, 95);
    color: #fff;
    -webkit-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
  
  }
  .nb-footer .useful-links li a{
    text-transform: uppercase;
  }
  .nb-footer .footer-project a{
    font-size: 13px;
  }
  .nb-footer .footer-project img{
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 1px;
    opacity: 0.7;
    -webkit-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
  }
  .nb-footer .footer-project img:hover{
    opacity: 1.0;
    cursor: pointer;
  }
  .nb-footer .footer-project .footer-title{
    margin-top: 0;
  }
  .nb-footer .footer-single p, .footer-single address{
      color: #979797;
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
  }
  .nb-copyright{
    background: #171717;
    padding-bottom: 10px;
  }
   .nb-copyright .copyrt{
    margin-top: 22px;
    font-size: 14px;
  color: #999999;
  }
  .nb-copyright .copyrt a{
    color: rgb(160, 92, 95);
  }
  .nb-copyright .footer-social{
      margin-top: 10px;
  }
  .nb-copyright .footer-social i{
    padding: 5px 10px;
    color: #999;
    border: 1px solid #333;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
  }
  .nb-copyright .footer-social i:hover{
    background: rgb(160, 92, 95);
    color: #fff;
  }
  .nb-copyright .footer-social .fa-facebook{
    padding: 5px 14px;
  }

.footer-single .btn-outline-danger{
    color: rgb(160, 92, 95);
    border-color: rgb(160, 92, 95);
}
.footer-single .btn-outline-danger:hover{
    color: #fff;
    border-color: rgb(160, 92, 95);
    background-color: rgb(160, 92, 95);
}

.navbar-vertical {
  width: 320px;
  height: 100vh;
  padding: 0.5rem 1rem;
  background-color: rgba(60, 30, 32, 0.63) !important;
  -webkit-transition: left 1s;
  transition: left 1s;
  left: 0;
  top: 0;
    z-index: 555555555555555555;
}
.navbar-nav .nav-link
{
    color: #fff !important;
}
.navbar-vertical .navbar-brand {
  margin-right: 0;
  padding-right: 1.5rem;
  display: block;
}
.navbar-vertical .navbar-toggler {
  border: none;
  padding: 0;
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.75rem;
  cursor: pointer;
}
.navbar-vertical.show {
  left: 0;
}
.navbar-vertical.hidden {
  left: -276px;
}
.navbar-vertical ul {
  text-align: center;
    width: 70%;
    margin: auto;
}
.navbar-vertical li {
    width: 38%;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    margin: auto;
    padding-top: 20px;
    font-size: 1em;
    overflow: hidden;
}
.navbar-vertical li a {
    width: 100%;
  position: relative;
  text-transform: uppercase;
}
.navbar-vertical li a:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.navbar-vertical li a:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
}
.navbar-vertical li a:hover {
  color: inherit;
}
.navbar-vertical li a:hover:before {
  -webkit-transition: 0.1s height linear 0.1s, 0.1s -webkit-transform linear;
  transition: 0.1s height linear 0.1s, 0.1s -webkit-transform linear;
  transition: 0.1s transform linear, 0.1s height linear 0.1s;
  transition: 0.1s transform linear, 0.1s height linear 0.1s, 0.1s -webkit-transform linear;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: 100%;
  border-color:rgb(80, 28, 30);
}
.navbar-vertical li a:hover:after {
  -webkit-transition: 0.1s height linear 0.3s, 0.1s -webkit-transform linear 0.2s;
  transition: 0.1s height linear 0.3s, 0.1s -webkit-transform linear 0.2s;
  transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
  transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s, 0.1s -webkit-transform linear 0.2s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: 100%;
  border-color: rgb(80, 28, 30);
}
